body{
	background-color: #f2f2f2;
	margin: 0;
	font-family: 'Arial', 'sans-serif;';
	font-size: 21px;
	line-height: 28px;
}

/* header styles */

header{
	background-color: #0092E1;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	line-height: 60px;
}

header h1{
	color: white;
	font-size: 50px;

}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid skyblue;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 64px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
}

a{
	color: skyblue;
}
a:hover{
	color: #0092E1;
}

footer{
	background-color: #0092E1;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	color: #999999;
	font-size: 18px;
	font-style: italic;
	margin: 0;
}